<launch>
  <node name="encoder_left" pkg="agv_as18" type="encoder_left.py" output="screen"/>
  <node name="encoder_right" pkg="agv_as18" type="encoder_right.py" output="screen"/>
  <node name="motor_driver" pkg="agv_as18" type="motor_driver.py" output="screen"/>
  <node name="controller" pkg="agv_as18" type="controller.py" output="screen"/>
  <node name="vicon_agv" pkg="agv_as18" type="vicon.py" output="screen"/>
  <node name="trajectory_generation" pkg="agv_as18" type="trajectory_generation.py" output="screen"/>
  <node name="line_following_test" pkg="agv_as18" type="line_following.py" output="screen"/>
</launch>